*{
  padding: 0px;
  margin: 0;
}
body{
  background-color: #1B2838;
}
header {
  display: flex;
  align-items: center;
  background-color: #171A21;
  margin-bottom: 20px;
}

.title-bar {align-items: center;align-content: space-between;margin: auto;}

.title-bar a {
  display: flex;
  align-items: center;
  color: #fff;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
}

.title-bar a img {
  height: 40px;
  margin-right: 10px;
}

#menuToggle {
  display: block;
  position: relative;
  /* -webkit-user-select: none; */
  user-select: none;
  z-index: 1;
}

#menuToggle a {
  text-decoration: none;
  color:white;
  transition: color 0.3s ease;
}

#menuToggle a:hover {
  color: tomato;
}

#menuToggle input {
  display: flex;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout:none ;
}

#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background-color:white;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
    opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#menuToggle input:checked~span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background:white;
}

#menuToggle input:checked~span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked~span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

#menu {
  position: absolute;
  width: 10rem;
  margin: 0;
  padding: 50px;
  padding-top: 125px;
  background-color: #171A21;
  opacity: 90%;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

#menu li {
  color: white;
  padding: 10px 0;
  font-size: 22px;
}

#menuToggle input:checked~ul {
  transform: none;
}
